<!DOCTYPE html>
<html>
 <head>
    <title>WEBCAMP 基礎学習フェーズ　課題2</title>

  </head>
 <body>
  <h1>ようこそ<string>"Bookres"</string>へ！</h1>

  <p><string>"Bookers"</string>では、さまざまな書籍に関するあなたの意見や印象を共有し交換することができます。</p>
  <p><%= link_to "START", "/books" %></p>

 </body>
</html>