/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  color: black;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px
}
table {
  display: table;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 2px;
  text-align: left;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  font-size: 16px;

}
tbody{
  display: table-row-group;
  vertical-align: middle;

}
p{
  font-size: 24px;
  padding: 12px;
  margin: 30px
}
ul{
  display: block;
  list-style-type: disc;
}
.errors{
  display: block;
  width: 450px;
  boder: 2px solid red;
  padding: 7px;
  margin: 33px;
}